<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2> Welcome to the api app</h2>

    <form action="/getD" method="post">
        <label for="usrin">Enter the Name of the city that you want to know the current weather of </label>
        <input id="usrin" type = "text" name="inp" value = ""/>

        <button type="submit" >Check weather</button>


    </form>

   <% if  (locals.result) {%>

    <h2> The weather in -- <%= result.data[0].city_name %> is as follows:</h2>

    <p> The temperature is -- <%= result.data[0].app_temp %></p>

    <p>Date </p>

    <p> Min Temp </p>

    <p> Max Temp</p>

    <p>Sunrise time</p>

    <p>Sunset Time</p>

    <p>Wind degree</p>


    <p>  <%= result.data[0].weather.icon %> </p>

    <% } %>
</body>
</html>